## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

## TODO: this will eventually be moved to the Sass
<%block name="navigation_logo">
  <img src="${static.url('themes/default/images/logo.png')}" height="50" alt="Home Page" />
</%block>

<%block name="navigation_other_global_links">
    ${parent.navigation_other_global_links()}
    <li class="item nav-lang">
    <form action="/i18n/setlang/" method="POST" id="language_form">
    <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }"/>
    <!--<input name="next" type="hidden" value="/next/page/" />-->
    <div name="language" id="language_code">
    <input type="image" name="language" onclick="this.form.submit()" value="${settings.LANGUAGES[0][0]}" id="language_code" src="${static.url('themes/default/images/en.png')}" alt="${settings.LANGUAGES[0][1]}">
    <input type="image" name="language" onclick="this.form.submit()" value="${settings.LANGUAGES[16][0]}" id="language_code" src="${static.url('themes/default/images/de.png')}" alt="${settings.LANGUAGES[16][1]}">
    <input type="image" name="language" onclick="this.form.submit()" value="${settings.LANGUAGES[33][0]}" id="language_code" src="${static.url('themes/default/images/fr.png')}" alt="${settings.LANGUAGES[33][1]}">
    <input type="image" name="language" onclick="this.form.submit()" value="${settings.LANGUAGES[61][0]}" id="language_code" src="${static.url('themes/default/images/ru.png')}" alt="${settings.LANGUAGES[61][1]}">
    <input type="image" name="language" onclick="this.form.submit()" value="${settings.LANGUAGES[73][0]}" id="language_code" src="${static.url('themes/default/images/ua.png')}" alt="${settings.LANGUAGES[73][1]}">
    </div>
    </form>
    </li>
</%block>

